{% extends "base.html" %}
{% block title %}Enter New Password - CarePulse{% endblock %}
{% block content %}
<section class="cp-auth-section">
    <div class="container">
        <div class="cp-auth-card">
            <h1>Set New Password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change My Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}