{% extends "base.html" %}
{% load static %}

{% block title %}Register - CarePulse{% endblock %}
{% block content %}

<section class="cp-auth-section">
    <div class="container">
        <div class="cp-auth-card">
        <h1>Create Patient Account</h1>
        <p>Register to book and manage your CarePulse appointments.</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-field-full">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-grid-row">

                <div class="form-field-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-field-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>

            </div>

            <div class="form-field-full">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-field-full">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="form-field-full">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <button type="submit" class="btn btn-primary">
                Create Account
            </button>
        </form>

        <p class="cp-auth-footer">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>
</section>
{% endblock %}
